nav a{
 color: greenyellow;
font-size: 55px;
}
.tabs {
  margin-top: 100px;
}
.tab button {
  background-color: inherit;
  padding: 15px 20px;
}
 .tab button:hover {
  background-color: rgb(164, 55, 173);
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid rgb(245, 229, 5);
  }
 .tabcontent.active {
    display: block;
  }
  nav{ 
    background-image: url('https://i.stack.imgur.com/xJida.png');
    background-size: cover; 
    background-position: center; 
    padding: 220px; 
    height: 55px;
  font-size: 100px;
  }
  .tablinks{
  margin-left: 30px;
  margin-right: 200px;
  }